*{
	font-family: Times New Roman;
}
/*This makes the whole website use times
new roman unless otherwise specified.*/
body{
	background-color: grey;
	font-size: 15.25;
}
/*Makes the background color grey with the font size 15.25.*/
h1{
	position: relative;
	top: 0x;
	color: red;
	text-transform: uppercase;
	word-spacing: 1em;
	text-align: center;
}
/*This is the style used for h1.*/
h1#top {
	font-size: 300%;
	background-color: green;
}
#navigation {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}
#list {
	display: inline;
	margin: 0px 3px;
}
#one {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}
#one:link {
	color: red;
	text-decoration: none;
}
#one:visited {
	color: black;
}
#one:hover {
	color: orange;
	text-decoration: underline;
}
#one:active {
	color: blue;
}
#one:focus {
	color: brown;
}
#search {
	position: absolute;
	top: 68px;
	right: 20px;
}
/*Everything from navigation to search, which 
is all part of the navigation is defined.*/
h2{
	text-transform: uppercase;
	background-color: hsla(185, 97%, 50%, 0.5);
	opacity: 0.7;
	text-indent: 30px;
}
.more {
	color: green !important;
	font-weight: bold;
	font-style: normal; 
}
p.intro:first-letter {
	font-size: 400%;
}
p.intro:first-line{
	color: orange;
}
/*Defines h2 and the intro paragraph. Also the word built
defined by the class more.*/
p.info:first-line{
	color: orange;
	font-style: italic;
}
/*This is for the links to the two car sites.*/
h3{
	color: #efc8c8;
}
q {
	float: right;
	font-style: italic;
	font-size: 120%;
	padding: 5px;
	margin: 0px 0px 10px 10px;
	border-top: 1px solid #665544;
	border-bottom: 1px solid #665544;
}
h4{
	color: rgb(0, 0, 255);
	text-shadow: 3px 8px 1px #777777;
}
h5{
	color: rgb(238, 130, 238);
	letter-spacing: 0.2em;
}
/*Defines the headings h3,h4, and h5. Also the style
for the quote.*/
p {
	color: rgb(0, 0, 0);
	line-height: 1.5em;
	text-align: justify;
}
/*Makes all paragraphs a specific style.*/
p.toplink {
	position: fixed;
	bottom: 0px;
	left: 700px;
	z-index: 10;
}
/*Link to use to go back to the top.*/
img.mach1 {
	vertical-align: text-top;
}
img.zl1 {
	vertical-align: text-bottom;
}
/*Images on first page style.*/
.mustang_column {
	float: left;
	width: 605px;
	margin: 10px;
	padding: 5px;
	background-color: green;
	clear: right;
}
.camaro_column {
	float: left;
	width: 605px;
	margin: 10px;
	padding: 5px;
	background-color: #efc8c8;
}
/*The float and clear are with these on the specs
part on first page.*/